DB_HOST = "127.0.0.1"
DB_PORT = 3306
DB_NAME = "csu_db"
DB_USER = "csu_admin"
DB_PASSWORD = "<.env의 MYSQL_USER_PASSWORD와 동일한 값>"

AI_WORKER_IP   = "<LM Studio가 떠 있는 호스트 IP>"
AI_WORKER_PORT = 1234
AI_MODEL_NAME  = "<LM Studio에 로드된 모델명, 예: qwen3-4b>"
